/* SECTION SOBRE */

#sobre {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; /* Alinhar verticalmente os itens */
    background-color: var(--background-1);
    padding: 0px 30px 140px;
}

.container-esq-sobre {
    flex-basis: 50%; /* Define a largura de 50% */
    max-width: 50%; /* Define a largura máxima de 50% */
}

.container-esq-sobre img {
    width: 700px;
    max-width: 100%;
    margin-left: -30px;
    margin-bottom: -5px;
}

.container-dir-sobre {
    flex-basis: 50%; /* Define a largura de 50% */
    max-width: 50%; /* Define a largura máxima de 50% */
    padding: 10px; /* Adiciona espaço ao redor do texto */
    margin-top: 30px;
}

.container-dir-sobre h1 {
    font-family: "Big Shoulders Display", sans-serif;
    font-weight: 800;
    font-size: 45px;
    color: var(--fontPrincipal);
    margin-top: 20px;
}

.container-dir-sobre p {
    font-family: "Sora", sans-serif;
    font-weight: 500;
    font-size: 15px;
    max-width: 450px;
    margin-bottom: 15px;
}
.container-dir-sobre a{
    text-decoration: none;
}
.container-dir-sobre button{
    font-family: "Sora", sans-serif;
    font-weight: 700;
    font-size: 17px;
    color: var(--fontPrincipal);
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid var(--Button-Icon);
    border-radius: 10px;
    width: 100%;
    max-width: 150px;
    height: 50px;
    cursor: pointer;
}
/* CARD FOTOS */
#card-fotos{
    background-color: var(--background-1);
    padding: 100px 0px;
}
#card-fotos h1{
    margin: 0 auto;
    text-align: center;
    font-family: "Big Shoulders Display", sans-serif;
    color: var(--fontPrincipal);
    font-size: 45px;
    font-weight: 800;
    margin-top: 0px;
    margin-bottom: -80px;
}
.wrapper-2 {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

#card-fotos .container {
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    overflow-x: auto; /* Adicione essa linha para permitir rolagem horizontal */
}

.card-2 {
    border-radius: 0.75rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.274);
}

.card-2 > .row {
    color: rgb(0, 0, 0);
    display: flex;
    flex-wrap: nowrap;
}

.card-2 > .row > .icon {
    background-color: var(--Button-Icon);
    color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-family: "Sora", sans-serif;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.description h2 {
    color: var(--background-3);
    padding-top: 0px;
}

input {
    display: none;
}

input:checked + label {
    width: 600px;
}

input:checked + label .description {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.card-2[for="c1"] {
    background-image: url('../images/Card-1.jpg');
}

.card-2[for="c2"] {
    background-image: url('../images/Card-2.jpg');
}

.card-2[for="c3"] {
    background-image: url('../images/Card-3.jpg');
}

.card-2[for="c4"] {
    background-image: url('../images/Card-4.jpg');
}
/* SECTION BANNER */
#banner{
    background-image: url(../images/Banner-1.png);
    background-repeat: no-repeat;
    height: 500px;
    max-height: 650px;
    display: flex;
    align-items: center;
    padding: 40px 0px 40px 100px;
}
.text-esq h1{
    font-family: "Big Shoulders Display", sans-serif;
    font-weight: 800;
    font-size: 50px;
    max-width: 450px;
    color: white;
    margin-bottom: 10px;
}
.text-esq p{
    font-family: "Sora", sans-serif;
    font-size: 20px;
    font-weight: 700;
    max-width: 350px;
    color: var(--fontPrincipal);
    margin-bottom: 20px;
}

.text-esq{
    flex: 1;
}
/* Media Queries */

@media (max-width: 768px) {
    #sobre {
        flex-direction: column;
        align-items: center;
    }
    .container-esq-sobre {
        display: flex;
        justify-content: center;
    }
    .container-esq-sobre img {
        max-width: 400px;
        margin-left: -50px;
    }
    .container-dir-sobre {
        text-align: center;
    }
    .container-dir-sobre h1 {
        font-size: 30px;
        text-align: center;
        margin-bottom: 15px;
    }
    .container-dir-sobre p {
        font-size: 14px;
        text-align: center;
        max-width: 500px;
    }
    .container-dir-sobre button {
        width: auto;
        padding: 13px 20px;
        display: flex;
        justify-content: center;
        margin: 20px auto;
        margin-bottom: 50px;
    }
    .container-esq-sobre, .container-dir-sobre {
        flex-basis: 100%;
        max-width: 100%;
    }
    .wrapper-2 {
        width: 100%;
        height: 100;
        margin-top: -150px;
    }
    .container {
        flex-direction: column;
        height: auto;
    }
    .card-2 > .row > .icon{
        margin-top: 150px;
        width: 40px;
        height: 40px;
    }
    input:checked + label {
        margin: 0 auto;
        width: 250px;
        height: 500px;
    }
    .card-2 {
        width: 100%;
        margin: 10px 0;
    }
    #card-fotos h1{
        font-size: 30px;
        max-width: 200px;
    }

    #banner{
        background-image: url(../images/Banner-2.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 650px;
        max-width:100%;
        text-align: center;
        flex-direction: column;
        padding: 50px;
        margin-top: -100px;
    }
    .text-esq{
        text-align: center;
        margin: 0 auto;
        margin-top: 40px;
    }
    .text-esq h1{
        font-size: 30px;
    }
    .text-esq p{
        font-size: 15px;
    }

}